@import 'fonts.scss';

body {
  height: 100vh;
  font-family: 'Kulim Park', sans-serif;
  display: flex;
  justify-content: center;

  #root {
    width: 100%;

    .content {
      display: flex;
      width: 100%;
      height: 100%;

      .main-info {
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 1;
        flex-direction: column;
        height: 100%;

        .personal-image {
          img {
            width: 250px;
            border-radius: 50%;
          }
        }

        .social-icons {
          display: flex;

          .social-icon {
            padding: 0 10px;
            width: 20px;
            -webkit-transform: translate(0px, 0);
            -webkit-transition: -webkit-transform 1s ease;
            -moz-transform: translate(0px, 0);
            -moz-transition: -moz-transform 1s ease;
            transform: translate(0px, 0);
            transition: -webkit-transform 1s ease;

            &:hover {
              -webkit-transform: scale(1.5);
              -moz-transform: scale(1.5);
              transform: scale(1.5);
            }
          }
        }
      }

      .main-content {
        height: 100%;
        flex: 1;
        border: 1px solid;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
  }
}
