.App {
  font-family: arial;
  display: flex;
  justify-content: center;

  .app-title {
    display: flex;
    align-items: center;
  }

  .main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .test {
    width: percentage(5/7);
  }
}
